.b-iconBack{
    
    display:flex;
    align-items: center;
    width: 10%;
    height: 50px;
    position: absolute;
    top: 30px;
    left: 85px;
    &__text{
        font-family:"dosis";
        font-size: large;
        color: white;
        margin-left: 20px;
        margin-bottom: 30px;
        letter-spacing: 2px;

    }
}